/*
Paletas de colores
AR011
#D92A4A
#0D0D0D
#F2F2F2
#262626
#6092A6

AR009
#262626
#DCF2F0
#C4F2E5
#B8BFA8
#595857
*/
font-family: 'Droid Serif', serif;
font-family: 'Montserrat', sans-serif;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #F2F2F2;
    width: 100%;
}

h1,h2,h3,h4{
  font-family: 'Droid Serif', serif;
}

p.logo0 {
    color: #C4F2E5 !important;
}
p.logo1 {
    color: #B8BFA8 !important;
}

.logo {
    padding-left: 30px;
    font-family: 'Droid Serif', serf;
    font-size: 36px;
    opacity: 0.8;
    width:150px;
    filter: alpha(opacity=40);
}

.logo:hover {
    opacity: 1;
}

.main-nav {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
}

.nav a {
    font-size: 26px;
}

.nav a:hover {
    color: #D92A4A !important;
}

ul.dropdown-menu>li {
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
}

.nav>li:hover {}

.navbar-nav>li>.dropdown-menu, .navbar-nav>li>a {
    font-size: 26px;
    color: #DCF2F0;
}

.jumbotron {
    margin-top: -50px;
    margin-bottom: 0px;
    background: url("../data/CasinuncaBR00.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
      height: 888px; /*same height as jumbotron */
      width: 100%;
      top:0;
      left:0;
      z-index: -1;
}

a.fa{
  color: #C4F2E5 !important;
  margin-top:45px;
}
a.fa:hover{
  color:  #F2F2F2 !important;
}
