/*
Paletas de colores
AR011
#D92A4A
#0D0D0D
#F2F2F2
#262626
#6092A6

AR009
#262626
#DCF2F0
#C4F2E5
#B8BFA8
#595857
*/

font-family: 'Droid Serif', serif;
font-family: 'Montserrat', sans-serif;
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #F2F2F2;
    width: 100%;
}

#texto-inicial h1, h2, h3, h4 {
    color: #0D0D0D;
    font-family: 'Droid Serif', serif;
    font-weight: bolder;
}

p.logo0 {
    color: #C4F2E5 !important;
}

p.logo1 {
    color: #B8BFA8 !important;
}

#texto-inicial {
    padding-top: -50px;
    height: 500px;
    text-align: center;
    background-color: #F2F2F2;
}

.logo {
    padding-left: 30px;
    font-family: 'Droid Serif', serf;
    font-size: 36px;
    opacity: 0.8;
    filter: alpha(opacity=40);
}

.navbar-inverse {
    height: 83px !important;
    border-color: ;
}

.logo:hover {
    opacity: 1;
}

.main-nav {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
}

.nav a {
    font-size: 24px;
}

.nav a:hover {
    color: #D92A4A !important;
}

ul.dropdown-menu>li {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #F2F2F2;
}

.navbar-left {
    left: 500px;
}


.element-nav {
    padding-top: 10px;
    padding-left: 20px;
}

.navbar-nav>li>.dropdown-menu, .navbar-nav>li>a {
    font-size: 22px;
    color: #DCF2F0;
}

#bg {
    background-image: url('../data/CasinuncaBR00.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    position: relative;
}

.fichas-tecnicas {
    padding-bottom: 50px;
}
.menu-titulo{
  display:none;
}

@media (max-width:767px) {
    #bg {
        top:30px;
        background-image: url('../data/La paloma BRm.jpg');
    }
    .fichas-tecnicas{
      margin-right:150px;
      color:#DCF2F0;
    }
     .navbar-collapse{
      opacity:0.5;
    }
    .menu-titulo{
      display:block;
      color:#DCF2F0;
    }
}

@media (max-width: 846px) {
    .navbar-inverse.navbar-fixed-top {
        height: 170px;
    }
}

.nav > li{
  padding-top: 0px;
  padding-bottom: 0px;
}

.jumbotron {
    margin-top: -50px;
    margin-bottom: 0px;
    background: url("../data/CasinuncaBR00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    /*same height as jumbotron */
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

a.fa {
    color: #C4F2E5 !important;
    margin-top: 30px;
}

a.fa:hover {
    color: #F2F2F2 !important;
}
