/*
Paletas de colores
AR011
#D92A4A
#F2F2F2

AR009
#262626
#DCF2F0
#C4F2E5
#B8BFA8
#595857
*/

font-family: 'Montserrat', sans-serif;


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #262626;
    width: 100%;
}

h1, h2 , h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
    font-size: 42px !important;
    font-weight: bolder !important;
}

#titulos{

}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}

.carousel{


}

.carousel img {
  position: relative;
  top: 0px;
  left: 0;
  min-width: 100%;
  height: 800px;
}
.titulos {

    padding-top: 50px;
    color:#262626;
    font-family: 'Droid Serif', serif;
    font-weight: bolder;

    padding-bottom: 25px;
}
.img-row{
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1, h2, h3, h4 {
    color: #262626;
    padding-top: 0px;
    font-family: 'Droid Serif', serif;
    font-weight: bolder;
    text-align: center-block;
    padding-left: 25px;
}

#rel-pub {
    height: auto;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #B8BFA8;
}

#footer {
    padding-top: 25px;
    height: auto;
    padding-bottom: 25px;
    color: #F2F2F2;

}
.footer-title{
  padding-bottom: 5px;
  font-family: 'Droid Serif', serif !important;
  font-weight: bolder !important;
  text-align: left !important;
  font-size: 20px !important;
  color:#C4F2E5; !important

}
ul{
  list-style: none!important;
}
 .subtitulos a{
  color:#D92A4A !important;
}
.subtitulos  {
  padding-top:5px;
  font-size:11px;
  text-align: center;
}

.img-pie {
    padding-top: 75px;
    height: auto;
    padding-bottom: 75px;
}


.img-ret {
    padding-top: 180px;
    padding-bottom: 50px;
}

.txt {
  background-color: #f2f2f2 !important;
}

#semb.transp {
  background-image: url('../data/img/pintura/optimizadas/resized-24.jpg');
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.99;
    padding-top: 65px;
    height:60%;
}

.espacio {
    height: 300px;
    background-color: transparent;
}

.sticky {
    position: fixed !important;
    z-index: 1000;
    width: 100%;
    top: 82px;
    left: 0;
}

.sticky .bread-inner {
    width: 100%;
}



#barra-lat-obras  {
    z-index: 10000px;
    position: fixed;
    padding-top: 130px;
    margin-left: -20px;
    width: 250px;
    height: 100%;
    color: #F2F2F2 !important;
    background-color: #262626;
    list-style: none;
}

#barra-lat-obras > list-group-item{

}

#catalogo {
  background-color: #f2f2f2;
    padding-top: 120px;
    padding-bottom: 75px;
}

#bread {
    position: relative;
}

.bread-placeholder {
    background-color: #B8BFA8;
}

.breadcrumb {
    width: 100%;
    position: relative padding-top: 10px;
    padding-bottom: 5px;
}

.container-fluid {
    width: 100%;
}

p.logo0 {
    color: #C4F2E5 !important;
}

p.logo1 {
    color: #B8BFA8 !important;
}

#semb {
    padding-top: 120px;
}

#texto-inicial-p {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    height: auto;
}

.logo {
    padding-left: 30px;
    font-family: 'Droid Serif', serf;
    font-size: 36px;
    opacity: 0.8;
    filter: alpha(opacity=40);
}

.navbar-inverse {
    height: 83px !important;
    border-color: ;
}



.main-nav {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
}

.list-group-item a {
    color: #C4F2E5;
    font-size: 22px;
}
.list-group-item.active a {
    color: #262626;
    font-size: 22px;
}

.list-group-item a:hover {
    color: #D92A4A !important;
}


.nav a {
    font-size: 24px;
}

.nav a:hover {
    color: #D92A4A !important;
}

ul.dropdown-menu>li {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #F2F2F2;
}

.navbar-left {
    left: 500px;
}

.element-nav {
    padding-top: 10px;
    padding-left: 10px;
}

.navbar-nav>li>.dropdown-menu {}

.navbar-nav>li>.dropdown-menu, .navbar-nav>li>a {
    font-size: 22px;
    color: #DCF2F0;
}

#bg {

    background-image: url('../data/img/pintura/det/CasinuncaBR00.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 900px;
}

.fichas-t {
    background: transparent !important;
}

.menu-titulo {
    display: none;
}

.cita{
    font-size: 22px;
    font-style: oblique;
}

#bita{
  padding-top: 150px;
  padding-bottom: 75px;
  text-align: left;

}
#img-ind{
  padding-left: 20%;
  padding-top:75px;
  padding-bottom: 75px;
}
#wrapper-lateral  {
    display: block;
    text-align: letf;
    background-color: #262626;
}

@media (max-width:767px) {
    #bg {
        height: auto;
        margin-top: 50px;
        padding-top: 850px ;
        background-image: url('../data/img/pintura/det/La paloma BRm.jpg');
    }
    #barra-lat-obras {
        padding-right: -400px;
        display: none;
    }
    .navbar-collapse {
        opacity: 0.8;
    }
    .menu-titulo {
        display: block;
        color: #DCF2F0;
    }
}

@media (max-width: 846px) {
    .navbar-inverse.navbar-fixed-top {
        height: 170px;
    }
}

.nav>li {
    padding-top: 0px;
    padding-bottom: 0px;
}

a.fa {
    color: #C4F2E5 !important;
    margin-top: 30px;
}

a.fa:hover {
    color: #F2F2F2 !important;
}
